body{
    background-image: url(images/bg.jpg);
    background-size: cover;
    
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tile {
    display: flex;
    height: 45px;
    width: 35px;
}
.divLine {
    display: flex;
}

.path {
    height: 45px;
    width: 35px;
    background-color:rgba(4, 4, 66, 0.568);
    text-align: center;
}

.wall {
    height: 45px;
    width: 35px;
    background-color:black;
    text-align: center;
   
}

.littleGuy {
    height: 45px;
    width: 35px;
    background-image: url(images/petitPrince2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: darkblue; 
}

.start {
    height: 45px;
    width: 35px;
    background-color: darkblue; 
    text-align: center;
    
}

.end {
    height: 45px;
    width: 35px;
    background-image: url(images/rose3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: darkblue; 
    text-align: center;
    
}



