body{
    display: flex;
    flex-wrap: wrap;
    width: 260px;
}

.path{
    height: 20px;
    width: 20px;
    background-color: lightgreen;
    text-align: center;
    
}

.wall{
    height: 20px;
    width: 20px;
    background-color: grey;
    text-align: center;
}

.littleGuy{
    height: 16px;
    width: 16px;
    margin: 2px;
    border-radius: 50%;
    background-color: red;
    text-align: center;
}

.start{
    height: 20px;
    width: 20px;
    background-color: blue;
    text-align: center;
}

.end{
    height: 20px;
    width: 20px;
    background-color:rgb(17, 190, 243);
    text-align: center;
}
.layout{
    width: 20px;
    text-align: center;
}